[Current]
username = meow
password = thisshallnotpass
from = "https://lemmy.world"
to = "https://lemmy.dbzer0.com"

[Community Migration]
old = trap@lemmy.fmhy.ml
new = trap

[Profile Migration]
old = ...
new = ...
